/* Reset browser defaults */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 0.25rem solid black;
  padding: 1rem;
}

.password {
  border: 0.25rem solid red;
  padding: 0.5rem;
}

input {
  display: block;
}
