/* Reset browser defaults */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 0.07rem solid black;
  padding: 1rem;
}

.password {
  /* border: 0.05rem solid red; */
  border: none;
  padding: 0.5rem;
  background-image: url("copy-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 98% 50%;
}

.password:hover {
  cursor: pointer;
}

.password:focus {
  outline: none;
}

#tooltip {
  display: none;
  background-color: lightgray;
  border-radius: 4px;
  font-size: 0.80rem;
  padding: 0.25rem 1rem;
  position: absolute;
  margin-left: 7%;
}

input {
  display: block;
}

.btn-container {
  background-color: lightgray;
  text-align: center;
  padding: 0.5rem;
}

.btn-container:hover {
  background-color: rgb(168, 168, 168);
  cursor: pointer;
}

.refresh-btn {
  width: 1.5rem;
}
