/* Reset browser defaults */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 0.07rem solid black;
  padding: 1rem;
}

.password {
  border: 0.05rem solid red;
  padding: 0.5rem;
}

input {
  display: block;
}

.btn-container {
  background-color: lightgray;
  text-align: center;
  padding: 0.5rem;
}

.btn-container:hover {
  background-color: rgb(168, 168, 168);
  cursor: pointer;
}

.refresh-btn {
  width: 1.5rem;
}
